body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

    /* Flexbox pour centrer le contenu */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

.form-container {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e6e6e6; /* Fond coloré */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-buttons button {
    padding: 12px 25px;
    margin: 15px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #45a049;
}

/* Style compact pour le formulaire */
.form {
    text-align: left;
    margin-top: 20px;
    width: 300px;  /* Taille plus petite */
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 8px 0;
}

input {
    padding: 8px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 1.1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
