{% extends "layouts/base.html" %}

{% block content %}
<div class="login">
    <div class="form">
    <h2>Inscription</h2>
        <form method="POST" action="">
            {% csrf_token %}
        
            {% for field in form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="mb-3">
                                    {{field}}
                                </div>
                                <span class="text-danger">{{ field.errors }}</span>
            {% endfor %}
            <br/>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</div>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endblock content %}
